<h2 class="m-4">EXPLORE USERS</h2>
<hr>
<div class="container d-flex flex-wrap" >
    <div *ngFor="let customer of this.customers" class='card m-4 col-md-3 col-4 shadow-lg' data-toggle="modal" data-target="#miModal">
            <img src="../../../assets/images/img_avatar.png" class="card-img-top" alt="imagen-perfil">
            <div class="card-body ">
                <h5 class="card-title">{{customer.username}}</h5>
                <p class="card-text">{{customer.points}} Points</p>
            </div>
    </div>
</div>


 <!-- Modal -->
 <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Wishes</h5>
          <button type="btn btn-dark" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div *ngFor="let wish of this.wishes">
                    <h5 class="card-title">{{wish.title}}</h5>
                    <p class="card-text">{{wish.description}}</p>
                    <p class="card-text">Points --> {{wish.value}}</p>
                    <a class="btn btn-success mx-2" (click)="this.addWish(wish)">Add to My List</a>
                </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
 
