<br><br>
<h2 class="m-4">EXPLORE USERS</h2>
<hr>
<!-- Una carta por cada customer, le añadimos el pipe para la paginacion-->
<div class="container d-flex flex-wrap" >
    <div *ngFor="let customer of this.customers | paginate: { itemsPerPage: 6, currentPage: pages }" class='card m-4 col-md-3 col-4 shadow-lg' data-toggle="modal" data-target="#miModal" (click)="this.wishesFromCustomer(customer.username)">
            <img src="../../../assets/images/img_avatar.png" class="card-img-top" alt="imagen-perfil">
            <div class="card-body ">
                <h5 class="card-title">{{customer.username}}</h5>
                <p class="card-text">{{customer.points}} Points</p>
            </div>
    </div>
    <!-- Controlador de la paginacion-->
    <pagination-controls (pageChange)="pages = $event"
    responsive="true"
    previousLabel="Previous"
    nextLabel="Next">
</pagination-controls>
</div>


 <!-- Modal que mostramos al clickar en una carta de customer 
      En él mostramos todos los deseos que tiene ese customer-->
 <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">His wishes</h5>
          <button type="btn btn-dark" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--NG for para mostrar sus deseos en forma de cartas-->
        <div class="container d-flex flex-wrap" >
          <div *ngFor="let wish of this.wishes" class='card m-3 col-md-5 col-6 shadow-lg h-25'>
                  <img src="../../../assets/images/imgncardwish.jpeg" class="card-img-top" alt="imagen-deseo-descrito">
                  <div class="card-body ">
                      <h5 class="card-title">{{wish.title}}</h5>
                      <p class="card-text">{{wish.description}}</p>
                      <p class="card-text">Points --> {{wish.value}}</p>
                      <!-- Le añadimos al boton la funcion para añadir el deseo a la lista del 
                          usuario logeado -->
                      <a class="btn btn-success" (click)="this.addWish(wish)">To myList</a>
                  </div>
          </div>
        </div>
        <!-- Boton para cerrar el modal -->
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
 
