
// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "pagination";
@import "list-group";
@import "close";
@import "modal";


// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

.divimgbg{
    background-image: url(../assets/images/fondo-home.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin: 0;
    height:  35.2rem;
}

.lessopa {
    background-color:rgba(255, 255, 255, 0.5);
}

.ml-auto{
    margin-left: auto;
}

.r-5 {
    right: 5px;
}

//LOGIN SCSS

$login-color: #fff;
$register-color: #212529;
$box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
$amarillo-inputs: #fec503;
$shadow-inputs: 0 0 0 .2rem rgba(231,76,60,.25);

@mixin login-form {
  padding: 5%;
  box-shadow: $box-shadow;
  h3{
    text-align: center;
  }
  .btnSubmit{
    font-weight: 600;
  }
  .ForgetPwd{
    font-weight: 600;
    text-decoration: none;
  }
}

@mixin social-buttons {
  margin-bottom: 0;
  li {
    a{
      font-size: 20px;
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: $white-color;
      border-radius: 100%;
      outline: 0;
      background-color: $footer-background-grey;
      &:active, &:focus, &:hover{
        background-color: $primary-orange;
      }
    }
  }
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    form{
      padding: 10%;
    }
}
.login-form-1{
    @include login-form;
    h3{
      color: #333;
    }
    .btnSubmit{
      color: $login-color;
      background-color: $register-color;
    }
    .ForgetPwd{
      color: $register-color;
    }
}

.login-form-2{
    @include login-form;
    background: $register-color;
    h3{
      color: $login-color;
    }
    .btnSubmit{
      
      color: $register-color;
      background-color: $login-color;
    }
    .ForgetPwd{
      color: $login-color;
    }
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.form-control.is-warning,.was-validated .form-control:invalid{
  border-color: $amarillo-inputs;
  padding-right:calc(1.5em + .75rem);
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e74c3c' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e74c3c' stroke='none'/%3e%3c/svg%3e");
  background-repeat:no-repeat;
  background-position:right calc(.375em + .1875rem) center;
  background-size:calc(.75em + .375rem) calc(.75em + .375rem)
}
.form-control.is-warning:focus,.was-validated .form-control:invalid:focus{
  border-color:$amarillo-inputs;
  box-shadow:$shadow-inputs;
}
.was-validated textarea.form-control:invalid,textarea.form-control.is-warning{
  padding-right:calc(1.5em + .75rem);
  background-position:top calc(.375em + .1875rem) right calc(.375em + .1875rem)
}
.custom-select.is-warning,.was-validated .custom-select:invalid{
  border-color:$amarillo-inputs;
  padding-right:calc(.75em + 2.3125rem);
  background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23303030' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat,#fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e74c3c' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23e74c3c' stroke='none'/%3e%3c/svg%3e") center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem) no-repeat
}
.custom-select.is-warning:focus,.was-validated .custom-select:invalid:focus{
  border-color:$amarillo-inputs;
  box-shadow:$shadow-inputs;}

//FOOTER SCSS

$link-light-grey: #6c757d;
$primary-orange: $amarillo-inputs; //before: fed136
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;
$white-color: #fff;

.col-md-4:nth-child(even) {
  // background: blue;
}
.col-md-4:nth-child(odd) {
  // background: red;
}

a {
  color: $link-light-grey;
  &:hover {
    color: $primary-orange;
    text-decoration: none;
  }
}

::selection {
  background: $primary-orange;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: $footer-background-light-grey;
  .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
    @media (min-width: 768px) {
      padding-top: 0rem;
    }
    @media (min-width: 1200px) {
      padding-top: 0.5rem;
    }
  }

.footer-column {
  text-align: center;
  //border: red solid 1px;
  .nav-item {
    .nav-link {
      padding: 0.1rem 0;
    }
    span.nav-link {
      color: $link-light-grey;
    }
    span.footer-title {
      font-size: 14px;
      font-weight: 700;
      color: $white-color;
      text-transform: uppercase;
    }
    .fas {
      margin-right: 0.5rem;
    }
  }
  ul {
    display: inline-block;
    @media (min-width: 768px) {
      text-align: left;
    }
    @media (min-width: 1200px) {
      text-align: left;
      padding: 0rem;
    }
    //border: yellow solid 1px;
  }
}



ul.social-buttons {
  @include social-buttons;
}

.copyright {
  color: $white-color;
}

.fa-ellipsis-h {
  color: $white-color;
  padding: 2rem 0;
}
