<br><br>
<!-- Contenedor para el login-->
<div class="container login-container">
    <div class="row">
        <!-- Formulario para el login -->
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>
            <!-- Realizado con template driven -->
            <!-- Al enviarse se envia la peticion de login mediante la funcion de login -->
            <form (ngSubmit)="logIn(loginForm.value)" #loginForm="ngForm">
                <!-- La clase cambiar el estilo segun si los campos son válidos o no -->
                <div class="form-group my-2">
                    <input type="text" [class]="loginForm.form.controls.username?.invalid ? 'form-control is-invalid' : 'form-control is-valid'" placeholder="Username.." name="username" ngModel required />
                    <p *ngIf="loginForm.form.controls.username?.invalid" class="text-danger small">Username needed</p>
                </div>

                <div class="form-group">
                    <input type="password" [class]="loginForm.form.controls.password?.invalid ? 'form-control is-invalid' : 'form-control is-valid'" placeholder="Password.." name="password" ngModel required />
                    <p *ngIf="loginForm.form.controls.password?.invalid" class="text-danger small">password needed</p>
                </div>
                <!-- Boton para enviar el form, desactivado si el formulario no es valido-->
                <div class="form-group my-2">
                    <input type="submit" class="btn btn-dark" value="Login" [disabled]="!loginForm.valid"/>
                </div>
            </form>
        </div>
        <!-- Lado de registro hecho con Formulario Reactivo, las clases cambian los estilos de los campos segun si 
            el campo es válido o no lo es -->
        <div class="col-md-6 login-form-2">
            <h3>Register if you havent account yet!</h3>
            <form [formGroup]="registerForm">
                <div class="form-group my-2">
                    <input formControlName="name" name="name" type="text" [class]="registerForm.controls.name.invalid ? 'form-control is-warning' : 'form-control is-valid'" placeholder="Name.." value="" id="name"/>
                    <p *ngIf="registerForm.controls.name.invalid" class="text-warning small">Name with 3 characters min needed</p>
                </div>
                <div class="form-group my-2">
                    <input  formControlName="surname" name="surname" type="text" [class]="registerForm.controls.surname.invalid ? 'form-control is-warning' : 'form-control is-valid'" placeholder="Surname.." value="" id="surname"/>
                    <p *ngIf="registerForm.controls.surname.invalid" class="text-warning small">Surname with 3 characters min needed</p>
                </div>
                <div class="form-group my-2">
                    <input  formControlName="edad" name="edad" type="number" [class]="registerForm.controls.edad.value == '' ? 'form-control is-warning' : 'form-control is-valid'" placeholder="Edad.." value="" id="edad"/>
                    <p *ngIf="registerForm.controls.edad.value == '' " class="text-warning small">Edad needed</p>
                </div>
                <div class="form-group my-2">
                    <input formControlName="username" name="username" type="text" [class]="registerForm.controls.username.invalid ? 'form-control is-warning' : 'form-control is-valid'" placeholder="Username.." value="" id="username"/>
                    <p *ngIf="registerForm.controls.username.invalid" class="text-warning small">Username with 3 characters min needed</p>
                </div>
                <div class="form-group my-2">
                    <input  formControlName="email" name="email" type="text" [class]="registerForm.controls.email.invalid ? 'form-control is-warning' : 'form-control is-valid'" placeholder="Email.." value="" id="email"/>
                    <p *ngIf="registerForm.controls.email.invalid" class="text-warning small">Email needed</p>
                </div>
                <div class="form-group my-2">
                    <input formControlName="password" name="password" type="password" [class]="registerForm.controls.password.invalid ? 'form-control is-warning' : 'form-control is-valid'" placeholder="Password.." value="" id="password"/>
                    <p *ngIf="registerForm.controls.password.invalid" class="text-warning small">Password with 3 characters min needed</p>
                </div>
                <div class="form-group my-2">
                    <!-- Boton para enviar la peticion del registro, desactivado si el formulario no es valido-->
                    <input (click)="register()" class="btn btn-warning" value="Register" [disabled]="!registerForm.valid"/>
                </div>
            </form>
        </div>
    </div>
</div>
