<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark d-flex">
  <a class="navbar-brand px-2" href="#">WISHERS</a>
  <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-2">
      <li class="nav-item active">
        <a class="nav-link" href="/mylist">My List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/completed">Completed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/best">BESTS</a>
      </li>
    </ul>
    <form class="form my-2 my-lg-0 d-flex mx-5" [formGroup]="searchForm">
      <input class="form-control mx-1 align-self-center" formControlName="username" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0 mx-1" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 17 17">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>
      <div *ngIf="compruebaJWT()" class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg>
        </a>
        <div class="dropdown-menu r-5 shadow-lg" aria-labelledby="navbarDropdown">
          <button class="dropdown-item" (click)="desLogear()">Log-Out</button>
        </div>
      </div>
    </div>
</nav>